<!doctype html>
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="libs/css/roboto.css">
    <link rel="stylesheet" type="text/css" href="libs/css/arrow-icons.css">
    <link rel="stylesheet" type="text/css" href="libs/css/toastr.min.css">
    <link rel="stylesheet" type="text/css" href="./home.css">
</head>
<body>
<div class="wrapper">
    <% include ./partials/header %>
    <h1>User Dashboard</h1>
    <% if (user != null && user.is_verified == 0) { %>
    <h2>Dear <%= user.username %>, please verify your email id by clicking the verification link sent to your email</h2>
    <h3>To resend the verification email, please click <a href="verify?userid=<%= user.id %>">here</a></h3>
    <% } %>
    <div class="push"></div>
</div>

<% include ./partials/footer %>
<script src="libs/js/angular.min.js"></script>
<script src="libs/js/dirPagination.js"></script>
<script src="libs/js/jquery.min.js"></script>
<script src="libs/js/dateStringHelper.js"></script>
<script src="libs/js/toastr.min.js"></script>
<script src="home.js"></script>
</body>
</html>