<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <link rel="icon" href="icons/isviewlogo.png"/>
    <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

    <link rel="stylesheet" href="css/style.css">


</head>

<body>
<div class="form">

    <ul class="tab-group">
        <li class="tab active"><a href="#login">Log In</a></li>
        <li class="tab"><a href="#signup">Sign Up</a></li>
    </ul>

    <div class="tab-content">
        <div id="login">
            <h1>Welcome Back!</h1>

            <form action="/login" method="post">

                <div class="field-wrap">
                    <label>
                        Email Address/User Name<span class="req">*</span>
                    </label>
                    <input type="text" required autocomplete="off" name="username"/>
                </div>

                <div class="field-wrap">
                    <label>
                        Password<span class="req">*</span>
                    </label>
                    <input type="password" required autocomplete="off" name="password"/>
                </div>

                <!-- show any messages that come back with authentication -->
                <% if (message.length > 0) { %>
                <p style="color: red"><%= message %></p>
                <% } %>
                <p class="forgot"><a href="./frgtpass">Forgot Password?</a></p>

                <button class="button button-block"/>
                Log In</button>

            </form>

        </div>
        <div id="signup">
            <h1>Sign Up for iSview</h1>

            <form action="/signup" method="post" onsubmit="return matchPasswords()">

                <div class="field-wrap">
                    <label>
                        Select Username<span class="req">*</span>
                    </label>
                    <input type="text" required autocomplete="off" name="username"/>
                </div>
                <div class="field-wrap">
                    <label>
                        Email Address<span class="req">*</span>
                    </label>
                    <input type="email" required autocomplete="off" name="usermail"/>
                </div>

                <div class="field-wrap">
                    <label>
                        Set A Password<span class="req">*</span>
                    </label>
                    <input type="password" required autocomplete="off" name="password" id="password"/>
                </div>

                <div class="field-wrap">
                    <label>
                        Confirm Password<span class="req">*</span>
                    </label>
                    <input type="password" required autocomplete="off" name="confirmpassword" id="confirmpassword"/>
                </div>

                <div class="field-wrap">
                    <label>
                        Full Name<span class="req">*</span>
                    </label>
                    <input type="text" autocomplete="off" name="full_name"/>
                </div>

                <div class="field-wrap">
                    <label>
                        Contact Number<span class="req">*</span>
                    </label>
                    <input type="tel" autocomplete="off" name="phone"/>
                </div>
                <div class="field-wrap">
                    <label>
                        Contact Address<span class="req">*</span>
                    </label>
                    <input type="address" autocomplete="off" name="address"/>
                </div>
                <p style="color: red" id="passwordAlert"></p>
                <button type="submit" class="button button-block"/>
                Get Started</button>

            </form>

        </div>


    </div>
    <!-- tab-content -->

</div>
<!-- /form -->
<script src='./libs/js/jquery.min.js'></script>

<script src="js/login.js"></script>
<script>
    function matchPasswords() {
        var pass1 = document.getElementById("password").value;
        var pass2 = document.getElementById("confirmpassword").value;
        var ok = true;
        if (pass1 != pass2) {
            document.getElementById("passwordAlert").innerHTML = "Passwords Do not match";
            document.getElementById("password").style.borderColor = "#E34234";
            document.getElementById("confirmpassword").style.borderColor = "#E34234";
            ok = false;
        }
        else {
            //alert("Passwords Match!!!");
        }
        return ok;
    }
</script>
</body>
</html>