<!--sidebar start-->
<aside>
    <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu">
            <li class="">
                <a class="" href="/">
                    <i class="icon_house_alt"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li class="">
                <a class="" href="/trends">
                    <i class="icon_datareport"></i>
                    <span>Trends</span>
                </a>
            </li>
            <li class="">
                <a class="" href="/reports">
                    <i class="icon_table"></i>
                    <span>Reports</span>
                </a>
            </li>
            <li class="sub-menu ">
                <a href="javascript:;" class="">
                    <i class="icon_documents_alt"></i>
                    <span>Pages</span>
                    <span class="menu-arrow arrow_carrot-right"></span>
                </a>
                <ul class="sub">
                    <li><a class="" href="./contact">Contact Us</a></li>
                    <% if (user != null && user.username == 'admin') { %>
                    <li><a class="" href="./key-manager">Key Manager</a></li>
                    <% } %>
                </ul>
            </li>
            <li class="sub-menu ">
                <a href="javascript:;" class="">
                    <i class="icon_key_alt"></i>
                    <span>
                        <% if (user != null) { %>
                        <%= user.username %>
                        <% } else{ %>
                        Guest
                        <% } %>
                    </span>
                    <span class="menu-arrow arrow_carrot-right"></span>
                </a>
                <ul class="sub">
                    <li><a class="" href="./profile">Profile</a></li>
                    <% if (user != null) { %>
                    <li><a class="" href="/logout">Logout</a></li>
                    <% } else{ %>
                    <li><a class="" href="/login">LogIn</a></li>
                    <% } %>
                </ul>
            </li>

        </ul>
        <!-- sidebar menu end-->
    </div>
</aside>
<!--sidebar end-->